@import "setup";
$pink: #b24f4e;

img {
	width: 100%;
}

body {
	position: relative;
	background: url(table.jpg) 0, 35% no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 100vh;
}

.wrapper {
	max-width: 67%;
	margin: 0 auto;
	padding-bottom: 1vh;
}

.dark {
	background: rgba(0,0,0, 0.5);
	width: 100%;
	padding-bottom: 1vh;
}

header {
	position: relative;
	padding-top: 50px;
}

h1 {
	padding-top: 50px;
	margin: 0;
	color: white;
	font-family: "Open Sans", sans-serif;
	font-weight: 500;
	padding-bottom: 50px;
	text-align: center;
	border: 7px solid $pink;
	span.and {
		font-size: 300px;
		position: absolute;
		left: 43%;
		top: -27px;
		font-family: "Rouge Script";
		color: rgba(255,255,255, 0.4);
	}
	span.food {
		font-size: 75px;
		text-shadow: 0, 0, 10, black;
		position: relative;
		z-index: 3;
	}
	span.winetitle {
		font-size: 75px;
		font-style: italic;
		position: relative;
		z-index: 3;
	}
}

div.pair {
	position: relative;
	margin: 0 0 20% 0;
}

p.paired {
	border: 7px solid lighten($pink, 10%);
	width: 50%;
	color: white;
	font-family: "Open Sans", sans-serif;
	font-size: 17px;
	font-weight: 200;
	margin: 0 0 0 20%;
	padding: 25px;
	text-align: justify;
}


p.fonticon svg {
	fill: rgba(255,255,255, .5);
	border: 7px solid lighten($pink, 15%);
	width: 20%;
	padding: 10px 25px;
	position: absolute;
	top: 55px;
	right: 13%;
}

form {
	text-align: center;
	padding-top: 50px;
	margin: 6% 0;
	label {
		font-family: "Open Sans", sans-serif;
		font-size: 25px;
		color: white;
		font-weight: 200;
		letter-spacing: 2px;
	}
}

option, select {
	background-color: transparent;
	font-family: "Open Sans", sans-serif;
	font-size: 20px;
	letter-spacing: 2px;
	color: white;
	&:focus {
		outline: 1px solid $pink;
	}
}


.wine {
	color: white;
	margin: 20px 20px 50px 20px;
	h2 {
		font-family: "Open Sans", sans-serif;
		font-size: 20px;
		text-align: left;
		font-style: bold;
	}
	img {
		float: left;
		width: 25%;
		border: 4px solid darkgrey;
		margin: 0 20px;
	}
	p {
		font-family: "Open Sans", sans-serif;
		text-align: justify;
		margin: 7px 0 3px 0;
	}
	p.origin {
		margin: 1px;
		font-style: italic;
	}
}


aside {
	position: fixed;
	color: rgba(255,255,255, 0.6);
	bottom: 0;
	left: 0;
	font-family: "Open Sans", sans-serif;
	font-weight: 100;
	width: 16%;
	margin-left: 1%;
	font-size: 12px;
	p {
		margin: 0;
		padding: 5px;
	}
	a {
		color: rgba(255,255,255, 0.6);
	}
}


// Responsive 

@media (max-width: 1140px) {

}

// Max-width:940
@media (max-width: 940px) {
	p.paired {
		width: 67%; 
		margin: 0 0 0 5%;
	}
	p.fonticon svg {
		top: 65px;
		right: 3%;
		width: 30%;
	}
}

/* Landscape phone to portrait tablet */
@media  all and (max-width: 767px) {
	.wrapper {
		max-width: 80%;
		padding-bottom: 5vh;
	}
	h1 {
		span.food {
			font-size: 70px;
		}
		span.winetitle {
			font-size: 70px;
		}
		span.and {
			left: 35%;
			top: -36px;
		}
	}

	p.paired {
		width: 75%; 
		margin: 0 0 0 5%;
	}
	p.fonticon svg {
		top: 100px;
		right: -5%;
		width: 30%;
	}
	aside {
		margin-left: 0;
		width: 100%;
		text-align: center;
		background: rgba(0,0,0, 0.75);
	}
}

@media all and (max-width: 480px){  
	.wrapper {
		max-width: 95%
	}

	.dark {
		padding-bottom: 10vh;
	}

	h1 {
		span.food {
			font-size: 60px;
		}
		span.winetitle {
			font-size: 60px;
		}
		span.and {
			left: 35%;
			top: -36px;
		}
	}

	p.paired {
		width: 67%; 
		margin: 0 0 0 5%;
	}
	p.fonticon svg {
		top: 100px;
		right: 4%;
		width: 30%;
	}
}